#banner{
    width: 100%;
    height: 600px;
    background-color: darkgray;
    padding: 0px;
    color: white;
    margin: 0px
}

.background-banner {
    background-image: url(../assets/images/confidence.jpeg);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-position: center -25px;
    background-clip: padding-box;
    background-attachment: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkgray;
}


/* wording */
.banner-statemnt-lg {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    z-index: 1;
}

.banner-statemnt-sm {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    height: 50px;
}

#banner-btn{
    height: 41px;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    background-color: #70259B;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: white;
    border-color: transparent;
    width: 200px !important;
    transition-property: height, width;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

#banner-btn:hover:hover{
    background-color: #9918e3;
    width: 215px !important;
    height: 43px;
}

.banner-container{
    background-color: transparent;
    width: 45%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 6%;
    padding: 5px;
}


/* responsive banner */

@media screen and (max-width:992px) {
    .offer-services{
        text-align: center !important;
        font-size: 38px;
        margin-bottom: 0px;
        line-height: initial;
    }
}


@media screen and (max-width:694px){
   .banner-container{
    top: 40%;
   }

   #banner-btn{
    height: 40px;
    width: initial;
   }

   .banner-statemnt-sm {
    font-size: 15px;
    height: auto;
   }


   .banner-statemnt-lg {
    font-size: 30px;
    height: auto;
   }

}

