.card-cs-1,
.card-cs-2,
.card-cs-3 {
    background-repeat: no-repeat;
    background-attachment: initial;
    background-size: cover;
    height: 399px;
    color: white;
    background-position: center;
}

.card-cs-1 {
    background-image: url('../assets/images/olympian.jpeg');
}

.card-cs-2 {
    background-image: url('../assets/images/dragon.jpeg');
}

.card-cs-3 {
    background-image: url('../assets/images/skhokho.jpeg');
}


#case-study {
    padding: 10px 0px 10px 0px;
}

.statement-cs>li {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    position: relative;
    top: 60%;
    margin-top: 15px;
    left: 10px;
}

.explain-cs {
    position: relative;
    top: 60%;
    left: 10px;
    width: 92%;
}

.line-cs {
    width: 40px;
    height: 4px;
    background: #D100C9;
}

.card-icon {
    width: 100%;
    height: 100px;
    background-position: 0%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100px;
    background-position: 0%;
    background-repeat: no-repeat;
}

.service-card:hover{
    cursor: pointer;
    transform: scale(1.05,1.05);
}


/* responsive case study section */
@media screen and (max-width:576px) {
    .service-card {
        margin-bottom: 20px;
    }

    .trusted-brands {
        font-size: 38px
    }
}

@media screen and (max-width:768px) {
    .service-card {
        margin-bottom: 20px;
    }
}

