#footer {
    background-color: #430964 !important;
    color: white;
    padding: 10px 0px 10px 0px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;

}

.state-1 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 140%;
    min-height: 129px;
    padding-bottom: 5px;
}

#footer .line-statement {
    color: white;
}

.state-2 {
    min-height: 129px;
    padding-bottom: 5px;
}

.state-2 > span {
    display: block;
}