
/* mine */
/* .header{
    background-color: #430964 !important;
    color: white;
    text-decoration: none !important;
} */

.header a{
    color: white;
    text-decoration: none !important; 
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
}

.img-logo{
    width:50px;
    height: inherit;
    color: white !important;
}

.btn-talk{
    /* width: 64px; */
    /* height: 21px; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    background-color: white !important;
    color: #70259B !important;
    border-radius: 50px;
    padding: 8px 16px;
}

.a{
    fill: white;
}


/* stolen */

.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    background: #430964;
    z-index: 100;
}

.log_reg ul li a {
    font-size: 14px;
    color: #FFFFFF;
}

.logo
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 51px;
}

.log_reg ul li {
    position: relative;
}


.log_reg {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 52px;
}

.main_nav{
    height: inherit;
    position: absolute;
    top: 30%;
}

.main_nav ul li {
    margin-right: 24px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 150%;
}