#nav{
    width: 100%;
    height: 600px;
    background-color: darkgray;
    padding: 0px;
    color: white;
    margin: 0px
}

.background-nav {
    background-image: url(../assets/images/confidence.jpeg);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-position: center;
    background-clip: padding-box;
    background-attachment: initial;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: darkgray;
}


/* wording */
.nav-statemnt-lg {
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 140%;
    z-index: 1;
}

.nav-statemnt-sm {
    height: 50px;
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
}

#nav-btn{
    height: 41px;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    background-color: #70259B;
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 150%;
    color: white;
    border-color: transparent;
    width: 200px;
    transition-property: height, width;
    transition-duration: 100ms;
    transition-timing-function: ease-in;
}

#nav-btn:hover:hover{
    background-color: #9918e3;
    width: 210px;
    height: 41px;
}

.nav-container{
    background-color: transparent;
    width: 45%;
    height: auto;
    position: absolute;
    top: 40%;
    left: 6%;
    padding: 5px;
}


