
.logo {
    width: 50px;
    height: inherit;
    color: white !important;
    margin-left: 100%;
}

.active {
    color: darkgrey !important;
}

.nav-center {
    margin: auto;
}

.nav-center li {
    margin-right: 50px;
    
}

.navbar{
    background-color: #430964 !important;
}


.btn-offer{
    background-color: white;
    height: 40px;
    color: #430964;
    border-radius: 25px;
    border-color: transparent;
    font-weight: 600;
    width: 200px; 
}

.nav-link{
    color: white !important;
    padding: 10px 0px 10px 0px;
    font-family: inherit;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
}


.navbar-toggler{
    background-color: gainsboro;
    margin-right: 1%;
}

/* responsive navbar */
@media screen and (max-width:992px) {
    .nav-link {
        right: 0%;
        color: white !important;
        font-weight: 600;
    }

    .nav-center {
        margin-top: 15px;
    }


    .nav-center li {
        margin-right: 2px;
    }

    .container-btn-see {
        width: 300px;
        height: 50px;
        position: absolute;
        right: 0%;
        top: 260px;
        background-color: #430964;
        width: 300px;
        padding-left: 40px !important;
        padding-top: 5px;
    }

    .navbar-nav{
        background-color: #430964;
        position: absolute;
        top: 78%;
        width: 300px;
        padding-left: 40px;
        border-bottom: solid 2px #de4f32;
        right: 0%;
        /*  */
        display: block;
    }

    .navbar-toggler{
        position: absolute;
        right: 0%;
        top: 0%;
        margin-top: 1%;
    }
}
